$white: #fff;
$light-gray: #f2f2f2;
$medium-gray: #bdbdbd;
$dark-gray: #606060;
$black: #131313;

$primary-color: #054e15;
$secondary-color: #71b57c;
$active-color: #49c36a;
$danger-color: #de4747;
$disabled-color: $medium-gray;
$page-bg-color: $light-gray;
$content-bg-color: #f0f5f4;
$line-color: #e5e5e5;
$default-content-color: $light-gray;
$medium-red: #f4c4c4;

$editor-bg-color: $dark-gray;

$primary-gradient-colors: (
  first: #03b398,
  end: #4b8bb2
);
$secondary-gradient-colors: (
  first: #03b398,
  middle: #21acb7,
  end: #4b8bb2
);

@mixin bg-gradient($deg: 60deg, $start-color: #fff, $end-color: #000) {
  background: linear-gradient($deg, $start-color, $end-color);
}

@mixin primary-gradient($deg: 60deg) {
  background: linear-gradient($deg, #49c3b4, #49c36a, #a3c349);
}

@mixin secondary-gradient($deg: 60deg) {
  background: linear-gradient($deg, #f7931e, #d4145a);
}

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.danger {
  color: $danger-color;
}

.disable {
  color: $disabled-color;
}

.line {
  color: $line-color;
}

.black {
  color: $black;
}

.darkGray {
  color: $dark-gray;
}

.mediumGray {
  color: $medium-gray;
}

.lightGray {
  color: $light-gray;
}

.white {
  color: $white;
}
