@import "src/assets/styles/modules";

.tag {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: 0 $space-sm;

  // size
  &[data-size="sm"] {
    border-radius: $radius-sm;
    height: 22px;
  }

  &[data-size="md"] {
    border-radius: $radius-sm;
    height: 20px;
  }

  // color
  &[data-color="black"] {
    background-color: $black;
    color: $white;
    font-weight: bold;
  }

  &[data-color="gray"] {
    background-color: $light-gray;
    color: $dark-gray;
  }

  &[data-color="secondary"] {
    background-color: $white;
    border: 1px solid $secondary-color;
    color: $secondary-color;
  }
}
